@font-face {
    font-family: 'frutiger';
    src: url("path/Frutiger_light.ttf") format("opentype");
}


body {
    background-color: #e6e6e9;
    font-family: frutiger;
    font-style: normal;
    margin: 0;
}

body h1,
h2 {
    color: #2a468e;
}

header {
    width: 100%;
    background-color: white;
}

h1{
    margin-left: 6em;
}

body > img{
    width: 100%;
}

/* Navigatie menu */
nav {
    width: 100%;
    background-color: white;
    padding: .5em;
}

nav img {
    height: 1.5em;
}

nav a {
    text-decoration: none;
    color: #2a468e;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li:first-child {
    justify-content: flex-start;
    margin-left: 0;
}

li:nth-child(2) {
    justify-content: flex-start;
    margin-right: auto;
}

li {
    width: 5em;
    margin-left: 1em;
}

li:last-child{
    margin-right: 2em;
}

/* Verschillende artikelen */

main{
    margin: auto;
}

article {
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: white;
    color: black;
    width: 20em;
}

article img:first-child {
    width: 100%;
}

article a {
    color: #318ad9;
    text-decoration: none;
}

article h2,
p {
    padding-left: 1em;
    padding-right: 1em;
}

article:nth-child(5) button {
    margin: 0;
    padding: 1em;
    border: 0;
}

article:nth-child(6) {
    background-color: white;
    padding: 2em 5em 3em 5em;
    margin-left: 10em;
    margin-right: 10em;
}

article > img{
    float: right;
    width: 1.5em;
    margin-right: 0;
    margin 1em;
}

/* loading cirkel */
.loader {
    float: right;
    border: 10px solid #0079d3;
    border-top: 10px solid #2a468e;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Filter/Sorteer */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    width: 50%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdc930;
    padding: 2em;

}

fieldset {
    display: flex;
    justify-content: flex-start;
    border: 0;
}

fieldset legend {
    font-size: 1.5em;
    color: #2a468e;
}

fieldset button {
    background-color: #0079d3;
    color: white;
    margin: 0;
    margin-bottom: 1em;
    padding: 1em;
    border: 0;
}

fieldset h2{
   text-align: center;
    margin-top: 0;
    padding-top: 0;
}

/*inlog pagina*/

/* Telefoon website */
@media (max-width: 40em) {

    /* Navigation menu in hamburger */
    nav {
        font-size: 1em;
    }

    nav li:not(:first-child) {
        display: none;
        margin: 1em;
    }

    nav ul {
        display: block;
    }

    nav li:first-child {
        display: flex;
    }

    li img:nth-child(2) {
        height: 1.5em;
        margin-left: 1em;
    }

    article {
        padding: .5em;
        margin: 1em;
    }

    form {
        display: flex;
        justify-content: center;
        width: 75%;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        background-color: #fdc930;
        padding: 2em;
    }
}


/* Tablet website */
@media (min-width: 40em) and (max-width: 55em) {
    li img:nth-child(2) {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}


/* Desktop website */
@media (min-width: 55em) {
    li img:nth-child(2) {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        width: 75%;
        margin: auto;
    }
}

