@font-face {
    font-family: 'frutiger';
    src: url("path/Frutiger.otf") format("opentype");
}


body {
    background-color: #e6e6e9;
    font-family: frutiger;
    font-style: normal;
    margin: 0;
}

body h1,
h2 {
    color: #2a468e;
}

header {
    width: 100%;
    background-color: white;
}


/* Navigatie menu */
nav {
    width: 100%;
    background-color: white;
    padding: .5em;
}

nav a {
    text-decoration: none;
    color: #2a468e;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li:first-child {
    justify-content: flex-start;
}

li:nth-child(2) {
    justify-content: flex-start;
    margin-right: auto;
}
li {
    width: 5em;
}


/* Verschillende artikelen */
article {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: white;
    color: black;
    width: 20em;
}

article img {
    width: 100%;
}

article a {
    color: #318ad9;
    text-decoration: none;
}

article h2,
p {
    padding-left: 1em;
    padding-right: 1em;
}

article:nth-child(5) button {
    margin: 0;
    padding: 1em;
    border: 0;
}

article:nth-child(6) {
    background-color: white;
    padding: 2em 5em 3em 5em;
    margin-left: 10em;
    margin-right: 10em;
}


/* Inlog formulier */
form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdc930;
    padding: 2em;
}

fieldset {
    display: flex;
    justify-content: flex-start;
}

fieldset button {
    background-color: #0079d3;
    color: white;
    margin: 0;
    padding: 1em;
    border: 0;
}


@media (max-width: 30em) {
    nav li {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    li:first-child {
        visibility: hidden;
    }

    article {
        padding: .5em;
        margin: 1em;
    }

    form {
        display: flex;
        justify-content: center;
        width: 75%;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        background-color: #fdc930;
        padding: 2em;
    }
}
